@charset "UTF-8";

*{
  font-family: "游ゴシック体", YuGothic;
}

.container{
  width: 1152px;
  margin: 0 auto;
}

header{
  height: 180px;
  display: flex;
  justify-content: space-between;
}

nav{
  line-height: 180px;
  display: flex;
  list-style: none;
  margin-right: 10px;
}

li{
  margin-right: 40px;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

main{
  height: 500px;
  position: relative;
}

.logo{
 position: absolute;
 top: -121px;
 left: -121px;
 z-index: 1;
}

.toppic{
  width: 1152px;
  position: absolute;
}

.visualt{
  position: absolute;
  top: 292px;
  left: 718px;
}

.mtext{
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 50px;
  font-family: "游ゴシック";
  font-weight: 100;
}

.textbox{
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 100px;
}

.mtext{
  position: absolute;
  top: 0;
  left: -100px;
}

br{
  display: none;
}

h1{
  font-size: 30px;
  text-align: center;
  margin-bottom: 3%;
}

article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

aside{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 400px;
  margin-bottom: 10%;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2% 0 25% 2%;
  justify-content: flex-start;
}

.description p{
  margin-bottom: 3%;
}

.readmore{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

footer{
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer>p{
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 767px){
  .container{
    width: 100%;
  }

  nav{
    display: none;
  }

  main{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: static;
    display: flex;
    flex-direction: column;
  }

  header{
    display: none;
  }

  .logo{
    position: static;
    width: 30%;
    margin: 30px auto;
   }
   
   .toppic{
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 500px;
     margin-bottom: 20px;
   }
   
   .visualt{
     display: none;
   }

   main::after{
     content: url("../img/visual_text_sp.png");
     position: absolute;
     top: 320px;
     left: 30px;
   }

   .mtext{
     position: static;
     text-align: center;
     display: none;
     display: block;
   }

   br{
     display: block;
   }

  .textbox{
    position: static;
    display: flex;
    justify-content: center;
  }
}